img {
  height: 100%;
  width: 100%;
}

.change-pw-button {
  visibility: hidden;
  width: 100%;
}

.sign-out {
  visibility: hidden;
  width: 100%;
}

.start-game {
  visibility: hidden;
  width: 100%;
}

.sign-up-button {
  visibility: visable;
  width: 100%;
}

.sign-in-button {
  visibility: visable;
  width: 100%;
}

.game-stats {
  visibility: hidden;
  width: 100%;
}
