img {
  height: 100%;
  width: 100%;
}

// body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   width: 100%;
// }

.change-pw-button {
  visibility: hidden;
}

.sign-out {
  visibility: hidden;
}

.start-game {
  visibility: hidden;
}


.sign-up-button {
  visibility: visable;
}

.game-stats {
  visibility: hidden;
}
