img {
  height: 100%;
  width: 100%;
}

.change-pw-button {
  visibility: hidden;
}

.sign-out {
  visibility: hidden;
}

.start-game {
  visibility: hidden;
}


.sign-up-button {
  visibility: visable;
}

.game-stats {
  visibility: hidden;
}
